.navbar
{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    align-items: center;
    height: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
.main-head
{
    display:flex;
    justify-content: center;
    
}
#but-click
{
    
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right,#e052a0,#f15c41)!important;
    border-radius: 3px;
    padding: 16px 18px 15px;
    white-space: nowrap;

    :hover {
        background-color: #e6375a;
        background-image: none!important;
    }
    
}

#breedSelect
{

   
    background-color: #e6375a;;
    min-width: 160px;
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font: italic small-caps bold 12px/30px Georgia, serif;
    color:white

    
}
#but-search
{
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(to right,#e052a0,#f15c41)!important;
    border-radius: 3px;
    padding: 16px 18px 15px;
    white-space: nowrap;

    :hover {
        background-color: #e6375a;
        background-image: none!important;
    }
     
}
.main-container
{
    display:flex;
    justify-content: space-evenly;
}
.cat-image
{
    display:flex;
    justify-content: center;
    padding: 30px;
    border:2px solid #f15c41;
    border-radius: 2%;
    margin: 70px;
    width:50%;
    height:40%;
    background-color: #e052a0;
     
}
.cat-desc
{
    /* display:flex; */
    justify-content: center;
    padding: 30px;
    border:2px solid #f15c41;
    border-radius: 2%;
    margin: 70px;
    width:50%;
    height:40%;
    background-color: #e052a0;
     
}
.imganddesc
{
    display:flex;
    justify-content: center;
    align-items: center;
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#fff;
    font-size: 2em;

}
/* Gallery styling */

#gal-img
{
    width : 50px;
    height: 50px;
    border-radius:2%;
}
.gallary-head
{
    display:flex;
    justify-content: center;
    padding:30px;
    margin:30px;
    background: pink;
    
}
h1{
    margin:5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#e052a0;
    font-size: 2em;

}

#no-of-image
{
   
    background-color: #e6375a;;
    min-width: 160px;
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font: italic small-caps bold 12px/30px Georgia, serif;
    color:white

    
}
.noofimage
{
display:flex;
    justify-content: center;
    padding:30px;
    
}
label
{
    color:#f15c41;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* //carassole */
.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #e052a0;
    /* padding:10px; */
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;    
}

.carousel-inner img {
   
     max-height: 600px; 
     width: 100%;
   /* overflow:hidden; */
    object-fit: cover;



    flex: 0 0 100%; /* Each image takes up 100% of the container's width */
    width: 100%; /* Ensure images scale to fit the container */
    object-fit: cover; /* Ensure images cover the entire container area */
    display: block; /* Ensure images are block-level for layout purposes */
    transition: transform 0.5s ease; /* Smooth transition between images */
}

.carousel-control {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
.datapost
{
    display:flex;
    justify-content: center;
    gap:10px;
    background-color: red;
    width: 25%;
    margin-left:10%;
}
